[submodule ".registry"]
	path = .registry
	url = https://github.com/nlmixr2/nlmixr2.r-universe.dev
	branch = HEAD
[submodule "PreciseSums"]
	path = PreciseSums
	url = https://github.com/nlmixr2/PreciseSums
[submodule "babelmixr2"]
	path = babelmixr2
	url = https://github.com/nlmixr2/babelmixr2
[submodule "dparser"]
	path = dparser
	url = https://github.com/nlmixr2/dparser-R
[submodule "lbfgsb3c"]
	path = lbfgsb3c
	url = https://github.com/nlmixr2/lbfgsb3c
[submodule "lotri"]
	path = lotri
	url = https://github.com/nlmixr2/lotri
[submodule "monolix2rx"]
	path = monolix2rx
	url = https://github.com/nlmixr2/monolix2rx
[submodule "n1qn1"]
	path = n1qn1
	url = https://github.com/nlmixr2/n1qn1c
[submodule "nlmixr2"]
	path = nlmixr2
	url = https://github.com/nlmixr2/nlmixr2
[submodule "nlmixr2data"]
	path = nlmixr2data
	url = https://github.com/nlmixr2/nlmixr2data
[submodule "nlmixr2est"]
	path = nlmixr2est
	url = https://github.com/nlmixr2/nlmixr2est
[submodule "nlmixr2extra"]
	path = nlmixr2extra
	url = https://github.com/nlmixr2/nlmixr2extra
[submodule "nlmixr2lib"]
	path = nlmixr2lib
	url = https://github.com/nlmixr2/nlmixr2lib
[submodule "nlmixr2plot"]
	path = nlmixr2plot
	url = https://github.com/nlmixr2/nlmixr2plot
[submodule "nlmixr2rpt"]
	path = nlmixr2rpt
	url = https://github.com/nlmixr2/nlmixr2rpt
[submodule "nlmixr2targets"]
	path = nlmixr2targets
	url = https://github.com/nlmixr2/nlmixr2targets
[submodule "nonmem2rx"]
	path = nonmem2rx
	url = https://github.com/nlmixr2/nonmem2rx
[submodule "rxode2"]
	path = rxode2
	url = https://github.com/nlmixr2/rxode2
[submodule "rxode2ll"]
	path = rxode2ll
	url = https://github.com/nlmixr2/rxode2ll
[submodule "xpose.nlmixr2"]
	path = xpose.nlmixr2
	url = https://github.com/nlmixr2/xpose.nlmixr2
